@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }
  
  /* Variables CSS para tema claro */
  :root {
    --background: #ffffff;
    --background-gradient: linear-gradient(to right, #f3f4f6, #ffffff);
    --foreground: #111111;
  
    --card: #f9f9f9;
    --card-foreground: #111111;
  
    --panel: #f3f4f6;
    --panel-foreground: #1f2937;

    --muted: #6b7280;
    --muted-foreground: #4b5563;
  
    --accent: #4365ae;
    --accent-foreground: #ffffff;
  
    --border: #e5e7eb;
    --input: #f3f4f6;
  
    --radius: 0.5rem;
  }

/* Variables para tema oscuro */
.dark {
  --background: #111111;
  --background-gradient: linear-gradient(to right, #1a1a1a, #111111);
  --foreground: #f5f5f5;

  --card: #1a1a1a;
  --card-foreground: #f5f5f5;

  --panel: #1e1e1e;
  --panel-foreground: #f3f4f6;

  --muted: #9ca3af;
  --muted-foreground: #a1a1aa;

  --accent: #4365ae;
  --accent-foreground: #ffffff;

  --border: #2d2d2d;
  --input: #1f1f1f;

  --radius: 0.5rem;
}